@import "tailwindcss";

@theme {
  --animate-shimmer: shimmer 1.5s infinite;
  --animate-slide-up: slide-up 0.5s ease-out forwards;
  
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

